* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./siteback2.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    font-display: auto;
    color: black;
    width: 1080px;
    margin: 56px auto 0px;
    padding: 0 24px;
    font-size: 20px;
}

a {
    font-size: 24px;
    color: midnightblue;
}

a:hover {
    color: blueviolet;
    font-size: 26px;
}


header {
    padding: 24px;
}

nav {
    padding: 24px;
}

section {
    padding: 24px;
}

aside {
    padding: 24px;
}

footer {
    padding: 24px;
}